@page
@{
    Layout = "_LoggedInLayout";
}

@section Styles {
    
    <link rel="stylesheet" href="~/css/cyborg.bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
}

@section Navbar {
    <div data-bind='component: "navbar-component"'></div>
}

<div id="dashboard-template-main" class="p-3">
    <div class="row"  style="padding-top: 70px;">
        <div class="col-md-6 mx-auto">
            <div data-bind='component: "calorieEntry-component"'></div>
        </div>
    </div>
    
</div>
