@page
@section Styles {
    
    <link rel="stylesheet" href="~/css/cyborg.bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
}

@section Navbar {
    <div data-bind='component: "navbar-component"'></div>
}

<div class="row">
    <div class="col-md-12">

    </div>
</div>